.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  box-shadow: var(--BOX_SHADOW_BTN);
}

.form-container h1 {
  align-self: flex-start;
}

.form-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.form-widget > div {
  width: 100%;
}

.inputField {
  width: 100%;
  border-radius: 0.6rem;
  padding: 1.5em;
  outline: 1px solid black;
  border: none;
  background: none;
}
