.form-container {
  box-shadow: 0px 0px 10px black;
  border: 1px solid black;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
}

.form-container h1 {
  align-self: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.inputField {
  border-radius: 0.6rem;
  padding: 1em;
  outline: 1px solid black;
  border: none;
  background: none;
}
