.cart-main {
  display: flex;
  gap: 4rem;
  font-size: 0.9rem;
}

.cart-main h2 {
  font-size: 1.2rem;
}

.cart-list {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-list h1 {
  font-size: 2rem;
}

.cart-subtotal {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 4rem;
  box-shadow: 0px 0px 5px black;
  height: fit-content;
}

.cart-subtotal div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
}

.cart-subtotal div p {
  font-size: 2rem;
}

.cart-subtotal button {
  width: 100%;
  background-color: hsl(0, 0%, 0%, 0.85);
  color: white;
}

.cart-subtotal button:hover,
.cart-subtotal button:active,
.cart-subtotal button:focus {
  background-color: hsl(0, 0%, 0%, 1);
}

.cart-container {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
}

.cartimg-container {
  width: 6.25rem;
}

.cart-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-desc div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cart-price {
  font-weight: 700;
  width: 10%;
  font-size: 1rem;
}

.btn-link {
  font-weight: bold;
  background: none;
  text-decoration: underline;
  color: grey;
  text-transform: capitalize;
}

.qty {
  text-align: center;
  font-weight: bolder;
  padding: 0.4rem;
}
