.cart-container {
  display: flex;
  gap: 2rem;
}

.cart-main-container {
  flex: 1;
}

.cart-main {
  font-size: 0.9rem;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.cart-list > h2 {
  font-size: 2rem;
}

.cart-subtotal {
  height: fit-content;
  min-width: 18rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 3rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.cart-subtotal div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
}

.cart-subtotal p {
  font-size: 3rem;
  font-weight: bold;
  /* text-shadow: 5px 2px 10px var(--BGCOLOR);
  color: white; */
}

.cart-subtotal button {
  width: 100%;
}

.cart-subtotal button:hover,
.cart-subtotal button:active,
.cart-subtotal button:focus {
  background-color: var(--BGCOLOR);
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item-container {
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  gap: 4rem;
  box-shadow: var(--BOX_SHADOW_CARD);
}

.item-img {
  max-width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-img img {
  aspect-ratio: 1 / 1;
}

.item-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-desc > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.item-price {
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-btn {
  font-weight: bold;
  background: none;
  text-decoration: underline;
  color: grey;
  text-transform: capitalize;
}

.item-qty {
  display: flex;
  gap: 1rem;
  text-align: center;
  font-weight: bolder;
  padding: 0.4rem;
}

.item-qty button:disabled {
  cursor: not-allowed;
}

.item-qty input {
  max-width: 2rem;
  text-align: end;
  box-shadow: 0px 0px 5px black;
}

@media (max-width: 768px) {
  .cart-container {
    flex-direction: column-reverse;
  }

  .cart-main {
    flex-direction: column;
  }

  .cart-list {
    gap: 1rem;
  }

  .cart-list h2,
  .cart-subtotal h2 {
    font-size: 1.4rem;
  }

  .item-container {
    flex-direction: column;
    gap: 2rem;
  }

  .item-desc {
    gap: 1rem;
  }

  .item-desc h2 {
    font-size: 1.1rem;
  }

  .item-desc > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .item-qty {
    gap: 1rem;
  }

  .item-qty input {
    text-align: center;
  }
}
