.hero {
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filter-btn,
.close-filter,
.filter-btn-container {
  display: none;
}

.filter-header {
  padding-bottom: 1rem;
}

.filter-header h2 {
  font-size: 1.2rem;
}

.category-type {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.filters li {
  padding: 0.4rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.products {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
}

.card {
  border-radius: 1.5rem;
  color: gray;
  box-shadow: var(--BOX_SHADOW_CARD);
  padding: 1rem;
}

.card a {
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.pic {
  padding: 1rem;
  height: 14rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic img {
  max-height: 100%;
  object-fit: contain;
}

.card-content {
  font-weight: bold;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card-content > * {
  padding: 1rem 0;
}

.rating-container {
  display: flex;
  gap: 0.125rem;
  align-items: center;
}

.applybtn {
  display: none;
}

@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    position: fixed;
    inset: 0 1rem 0 0;
    background-color: var(--NAV_BGCOLOR);
    padding: 1.5rem 2rem 0;
    color: var(--NAV_COLOR);
    transform: translateX(-100%);
    transition: transform 350ms ease-in-out;
  }

  .sidebar[data-visible="true"] {
    z-index: 2;
    transform: translateX(0%);
  }

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }

  .filter-header h2 {
    font-size: 1rem;
  }

  .category-type {
    font-size: 0.9rem;
  }

  .close-filter {
    display: block;
    background-color: inherit;
    color: white;
    width: 1.5rem;
    aspect-ratio: 1;
  }

  .close-filter svg {
    height: 100%;
    width: 100%;
  }

  .filter-btn-container {
    display: flex;
    align-items: center;
  }

  .filter-btn-container span {
    font-weight: bold;
  }

  .filter-btn {
    background-color: white;
    display: block;
    width: 2rem;
    aspect-ratio: 1;
  }

  .alt-btn {
    width: fit-content;
    padding: 1em;
    outline: 1px solid white;
    color: var(--NAV_COLOR);
    border-radius: 0.6rem;
    transition: all 300ms ease-in-out;
    font-weight: bold;
    background-color: inherit;
  }

  .btn-active {
    background-color: white;
    color: black;
  }

  .applybtn {
    display: block;
  }
}
