nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

nav a {
  font-family: "Poppins", sans-serif;
  color: gray;
  text-decoration: none;
  font-weight: bold;
}

.nav-logo {
  color: white;
  display: flex;
  gap: 1rem;
  min-width: fit-content;
  /* aspect-ratio: 1 / 1; */
  padding-right: 1rem;
  font-size: 1.5rem;
}

.logo {
  height: 100%;
  width: 100%;
}

.nav-btn {
  display: none;
}

.nav-mobile {
  display: none;
}

.nav-desktop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding-left: 1rem;
  font-size: 1rem;
}

.nav-search {
  width: 100%;
  padding: 0 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-search input {
  width: 70%;
  padding: 0.7rem;
}

.nav-search button {
  background-color: inherit;
  color: gray;
  font-size: 1rem;
}

.nav-cart-container {
  display: flex;
  gap: 0.5rem;
}

.nav-cart-txt {
  padding: 0.2rem;
}

.nav-cart-num {
  color: white;
  padding-left: 0.5rem;
}

@media (max-width: 768px) {
  .logo-text {
    display: none;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    z-index: 1;
    font-size: 1rem;
    padding: 0;
    background-color: hsl(0, 0%, 0%);
    position: fixed;
    inset: 0 0 0 30%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  .nav-mobile[data-visible="true"] {
    transform: translateX(0%);
  }

  .nav-btn {
    background-color: inherit;
    color: white;
    display: block;
    position: fixed;
    top: 1.7rem;
    right: 1rem;
    width: 1.5rem;
    aspect-ratio: 1;
    z-index: 9999;
  }

  .nav-btn svg {
    width: 100%;
    height: 100%;
  }

  .nav-search {
    justify-content: flex-start;
  }
}
