.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 40rem;
}

.product aside {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product aside img {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  aspect-ratio: 1 / 1;
  max-height: 100%;
  object-fit: contain;
  padding: 2rem;
}

.product aside,
.product article {
  padding: 1rem;
}

.product-details {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.product-details h1 {
  font-size: 2.5rem;
}

.product-details > p {
  font-size: 1.1rem;
  color: gray;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-container p {
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .product {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
  }

  .product-details {
    align-items: flex-start;
  }

  .product-details h1 {
    font-size: 1.5rem;
  }

  .product-details > p {
    font-size: 0.9rem;
    color: gray;
  }
  .btn-container p {
    font-size: 1em;
    font-weight: bold;
  }
}
