*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: inherit;
  border: none;
}

button:hover,
a:hover {
  cursor: pointer;
}
