*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button,
input {
  font-size: inherit;
  border: none;
  background: none;
}

button:hover,
a:hover {
  cursor: pointer;
}
