.hide {
  display: none;
}

.show {
  display: block;
}

.cutoff-text {
  padding: 0;
  --max-lines: 1;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.btn {
  width: fit-content;
  padding: 1em;
  outline: 1px solid black;
  border-radius: 0.6rem;
  transition: all 300ms ease-in-out;
  font-weight: bold;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.btn:hover,
.btn:active {
  text-shadow: 1px 1px 5px black;
  outline: 1px solid black;
  background-color: hsl(30, 33%, 5%, 0.75);
  color: hsl(0, 0%, 100%, 1);
}

.btn-active {
  background-color: black;
  color: white;
}

.full-width {
  width: 100%;
}

.gold {
  color: gold;
}

.mb {
  margin-bottom: 2rem;
}

.mt {
  margin-top: 2rem;
}

.scrolltotop {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: hsl(30, 33%, 5%, 0.3);
  color: var(--NAV_COLOR);
  border-radius: 50%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb {
  padding: 1rem;
}

.breadcrumb-container {
  display: flex;
  padding-left: 1rem;
}

.crumb span {
  padding: 0 0.9rem;
}

.crumb a {
  text-decoration: none;
  color: gray;
}

.crumb a:hover,
.crumb a:focus {
  color: black;
}
