*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header,
main,
footer {
  padding: 1rem;
}

header,
footer {
  background-color: black;
  color: lightgray;
}

main {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
}

a {
  font-family: "Poppins", sans-serif;
  color: gray;
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: inherit;
  border: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.hide {
  display: none;
}

.nav-btn {
  display: none;
}

.nav-logo {
  padding-right: 1rem;
  font-size: 1.5rem;
}

.search {
  width: 100%;
  padding: 0 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search > input {
  width: 70%;
  padding: 0.7rem;
}

.search button {
  background-color: inherit;
  color: gray;
  font-size: 1rem;
}

.nav-mobile {
  display: none;
}

.nav-desktop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding-left: 1rem;
  font-size: 1rem;
}

.cart-container {
  display: flex;
  gap: 0.5rem;
}

.cart-txt {
  padding: 0.2rem;
}

.cart-num {
  color: white;
  padding-left: 0.5rem;
}

@media (max-width: 768px) {
  .nav-logo {
    display: none;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    font-size: 1rem;
    padding: 0;
    background-color: black;
    position: fixed;
    inset: 0 0 0 20%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-btn {
    background-color: inherit;
    color: white;
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    width: 1.5rem;
    aspect-ratio: 1;
    z-index: 1000;
  }

  .nav-btn > svg {
    width: 100%;
    height: 100%;
  }

  .search {
    justify-content: flex-start;
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-content: center;
}

.hero aside > h2 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.category-type {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.filter-btn {
  display: none;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.filters > li {
  padding: 0.4rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content > h2 {
  padding-bottom: 1rem;
}

.products {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 1rem;
}

.card {
  color: grey;
  box-shadow: 0px 0px 20px #ddd;
  padding: 1rem;
}

.pic {
  padding: 1rem;
  height: 14rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic > img {
  max-height: 100%;
  object-fit: contain;
}

.card-content {
  font-weight: bold;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card-content > * {
  padding: 1rem 0;
}

.card-content h3 {
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .hero {
    display: flex;
  }

  .hero > aside {
    display: none;
  }

  .filter-btn {
    background-color: white;
    display: block;
    position: fixed;
    top: 6rem;
    left: 1rem;
    width: 1.5rem;
    aspect-ratio: 1;
  }
}

.btn > button {
  width: fit-content;
  padding: 1em;
  outline: 1px solid black;
  border-radius: 0.6rem;
  transition: all 300ms ease-in-out;
  font-weight: bold;
  background-color: white;
}

#btn-active {
  background-color: black;
  color: white;
}

.btn > button:hover {
  outline: 1px solid black;
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.cutoff-text {
  padding: 0;
  --max-lines: 1;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.product {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 40rem;
}

.product aside {
  height: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product aside > img {
  aspect-ratio: 1 / 1;
  max-height: 100%;
  object-fit: contain;
}

.product aside,
.product article {
  padding: 1rem;
}

.product-details {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.product-details > h1 {
  font-size: 2.5rem;
}

.product-details > p {
  font-size: 1.1rem;
  color: gray;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-container > p {
  font-size: 1.2rem;
  font-weight: bold;
}
